<div class="menu-wrapper">
    <nav>
        <div class="nav-wrapper yellow darken-3">
          <!-- mobile button -->
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          
          <!-- menu -->
          <ul class="left hide-on-med-and-down">
            <li><a href="<%=process.env.DOMAIN%>">Головна</a></li>
            <li><a href="<%=process.env.DOMAIN%>/vacancies">Вакансії</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown-services">
              Інформація<i class="material-icons right">arrow_drop_down</i>
            </a></li>
            
            <li><a href="<%=process.env.DOMAIN%>/contacts">Контакти</a></li>

          </ul>
          
          <!-- logo -->
          <a href="<%=process.env.DOMAIN%>" class="brand-logo center">Робота в Європі</a>

          <!-- phones -->
          <div class="right ">
            <ul>
                <li>
                    <a class="waves-effect waves-light btn" href="/vacancies/list">
                        Вакансії <i class="material-icons right">work</i>           
                    </a>
                </li>
                <li>
                     <a class="waves-effect waves-light btn" href="/admin/logout">
                         Вийти <i class="material-icons right">exit_to_app</i>
                    </a>
                </li>
            </ul>
            
          </div>
        </div>
      </nav>

    <!-- Dropdown Structure -->
    <ul id="dropdown-services" class="dropdown-content">
      <li class="list-item"><a href="<%=process.env.DOMAIN%>/info/twoYear">Двохрічні візи</a></li>
      <li class="list-item"><a href="<%=process.env.DOMAIN%>/info/pratsevlashtuvannya">Працевла- штування до 90 днів</a></li>
      <li class="divider"></li>
      <li class="list-item"><a href="<%=process.env.DOMAIN%>/info/aboutCzech">Про Чехію</a></li>
      <li class="list-item"><a href="<%=process.env.DOMAIN%>/info/perspectiva">Перспектива для Українців</a></li>
    </ul> 
    <!-- Dropdown Nav Structure -->
    <ul id="dropdown-nav-services" class="dropdown-content">
      <li class="list-item"><a href="<%=process.env.DOMAIN%>/info/twoYear">Двохрічні візи</a></li>
      <li class="list-item"><a href="<%=process.env.DOMAIN%>/info/pratsevlashtuvannya">Працевла- штування до 90 днів</a></li>
      
      <li class="list-item"><a href="<%=process.env.DOMAIN%>/info/aboutCzech">Про Чехію</a></li>
      <li class="list-item"><a href="<%=process.env.DOMAIN%>/info/perspectiva">Перспектива для Українців</a></li>
    </ul> 

    <!-- sidenav -->
    <ul class="sidenav" id="mobile-demo">
      <li><a href="<%=process.env.DOMAIN%>">Головна</a></li>
            <li><a href="<%=process.env.DOMAIN%>/vacancies">Вакансії</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown-nav-services">
              Інформація <i class="material-icons right">arrow_drop_down</i>
            </a></li>
            
            <li><a href="<%=process.env.DOMAIN%>/contacts">Контакти</a></li>
    </ul>

      
</div>
