<%- include('part/header',{title:"Робота за кордоном"})-%>
<!--  -->
<%- include('part/menu')-%>
<div class="contacts-page-wrapper">
  <div class="block-info image">
    <img src="/img/contacts-image.jpg" alt="" />
  </div>
  <main id="contacts-page">
    <div class="block-info text">
      <p>
        &nbsp;&nbsp; Агенція заснована в м. Житомир і здійснює свою діяльність
        на підставі виписки з державного реєстру, та отриманій ліцензії на
        провадження посередництва у працевлаштуванні закордоном від міністерства
        соціальної політики України №423
        <strong
          ><em
            ><u>
              <a
                href="https://www.msp.gov.ua/documents/4776.html"
                target="_blank"
                >ТУТ</a
              >
            </u></em
          ></strong
        >
        . Згідно закону України &laquo;Про захист трудових мігрантів та боротьбі
        з шахрайством в працевлаштуванні за кордоном&raquo;. № 2365 наша
        компанія здійснює безкоштовне працевлаштування всі вакансії, а також
        документи від роботодавців надаються&nbsp; безкоштовно.&nbsp;&nbsp; За
        період &nbsp;нашої роботи до нас звернулося більше 1500 осіб з
        приводу&nbsp; працевлаштування в Польщі та Чехії.
      </p>
      <p><strong>ДІЯЛЬНІСТЬ КОМПАНІЇ ПРЕДСТАВЛЕНА В ДВОХ НАПРЯМКАХ</strong></p>
      <ul>
        <li>Послуги роботодавцям</li>
        <li>Послуги шукачам</li>
      </ul>
      <h2>Послуги роботодавцям</h2>
      <p>
        &nbsp;&nbsp; Пошук, відбір, перевірка &nbsp;претендентів для найму
        &nbsp;в компанію Замовника. Відбір кандидатів здійснюється відповідно до
        вимог які висуває Замовник. Ми швидко зможемо допомогти в пошуку
        працівників &nbsp;для робіт на:
      </p>
      <ul>
        <li>заводах</li>
        <li>фабриках</li>
        <li>складах</li>
        <li>будівництві</li>
        <li>Польвих робіт</li>
        <li>та інших сферах</li>
      </ul>
      <p>
        МАСОВИЙ ПІДБІР - як спеціалістів своєї справи так і &nbsp;оперативний
        пошук великої кількості некваліфікованого персоналу на аналогічні
        посади.
      </p>

      <h2>Послуги шукачам</h2>
      <p>В спектр наших послуг входить:</p>
      <ul>
        <li>
          якісний інформаційний супровід: підбір вакансії, ознайомлення з її
          особливостями, інформування щодо статусу компанії-працедавця на
          польському ринку праці;
        </li>
        <li>
          проведення співбесід з працедавцями, що дозволить вам отримати
          відповідь, не перетинаючи кордон батьківщини;
        </li>
        <li>
          достовірне інформування щодо умов праці та проживання: посадові
          обов&rsquo;язки, реальна оплата праці, кількість робочих часів,
          необхідність працювати вночі, вартість харчування та проживання;
        </li>
        <li>
          допомога у зборі необхідного пакету документів, потрібного для
          отримання візи в Польщу та можливості працевлаштування;
        </li>
        <li>
          допомога у підписанні трудового договору з польським працедавцем та
          перевірка його достовірності;
        </li>
        <li>виключно офіційне працевлаштування;</li>
        <li>
          активна та безвідмовна підтримка тих, хто вже поїхав на роботу в
          Польщу.
        </li>
        <li>
          Ми ніколи не втрачаємо контакти та із задоволенням відповідаємо на
          питання, які у вас з&rsquo;явилися. Ви завжди можете звернутись до нас
          в разі виникнення труднощів чи форс-мажорних ситуацій.
        </li>
      </ul>
    </div>
    <div class="block-info workers">
      <%- include('part/profiles') -%>
    </div>
    <div class="block-info">
      <h2>Графік роботи</h2>
      <p>Понеділок - П'ятниця: з 10:00 - до 18:00</p>
      <p>Субота, Неділя - вихідні</p>
    </div>
    <div class="block-info">
      <h2>Адреса</h2>
      <p>
        Офіс знаходиться за адресою - місто Житомир, вулиця Велика Бердичівська
        35а, 2 поверх
      </p>
    </div>
    <!-- <div class="block-info">
      <h2>Ліцензія</h2>
      <a
        href="<%=process.env.DOMAIN%>/docs/license.pdf"
        class="license"
        target="_blank"
        >Посилання на ліценцію</a
      >
      <a
        href="https://www.msp.gov.ua/documents/4776.html"
        class="license"
        target="_blank"
        >Наказ Міністерства соціальної політики України</a
      >
    </div> -->

    <div class="block-info map">
      <h2>Розташування</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2782.055332156727!2d28.668416377605077!3d50.2516718470786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c655653cd2bb9%3A0x3b72e0374a9ecaec!2z0J_RgNCw0YbQtdCy0LvQsNGI0YLRg9Cy0LDQvdC90Y8g0LfQsNC60L7RgNC00L7QvdC-0Lw!5e0!3m2!1suk!2sua!4v1591626333219!5m2!1suk!2sua"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </main>
</div>
<%- include('part/footer-contacts')-%>
