<%- include('part/header',{title:"Редагування послуги"})-%>
<!--  -->
<%-include('part/menu/menu', {auth:true})-%>
<form
  action="/services/edit/<%= service.id %>"
  method="post"
  class="col s12 l4 offset-l4 m6 offset-m3 container"
  id="form"
>
  <h3>Редагування послуги</h3>
  <div class="row">
    <div class="input-field col s12">
      <input
        type="text"
        name="title"
        id="title"
        value="<%= service.title %>"
        placeholder="назва"
        required
      />
      <label for="title">Заголовок</label>
    </div>
    <div class="input-field col s12">
      <input
        type="text"
        name="price"
        id="price"
        value="<%= service.price %>"
        placeholder="ціна"
        required
      />
      <label for="price">Ціна</label>
    </div>
    <div class="input-field col s12">
      <input
        type="text"
        name="term"
        id="term"
        value="<%= service.term %>"
        placeholder="продолжительность"
        required
      />
      <label for="term">продолжительность</label>
    </div>
    <div class="input-field col s12">
      <textarea name="description" id="description" cols="30" rows="10">
<%= service.description %></textarea
      >
      <label for="description">Опис</label>
    </div>
    <div class=" col s12">
      <button
        class="btn waves-effect waves-light amber darken-4"
        type="submit"
        name="action"
      >
        Надіслати
      </button>
    </div>
  </div>
</form>

<%- include('part/footer')-%>
