<%- include('part/header',{title:"Робота за кордоном"})-%>
<header>
  <div>
    <%-auth? include('part/menu-admin'): include('part/menu')-%>
  </div>
  <h1 class="main-title">
    Робота в Європі
  </h1>
  <div></div>
</header>
<main>
  <%- include('part/counter') %>
  <!-- tabs -->
  <%- include('part/advantages') %>
  <!-- lists  -->
  <%- include('part/lists') %>
  <!-- phones -->
  <%- include('part/phones') %>
  <!-- instagram, facebook -->
  <%- include('part/socialnetwork') %>
</main>

<%- include('part/footer')-%>
