<%- include('part/header',{title:"Робота за кордоном"})-%>
<header>
    <div>
            <%- include('part/menu')-%>
            <a id='services-button' href="https://denysiukjob.com.ua/info/services">Оформлення документів</a>
    </div>
   
    <h1 class="main-title">
        Робота за кордоном
    </h1>
    <div class="buttons">
        <div class="header-button"><a href="https://denysiukjob.com.ua/anket" class="red-button">Заповнити анкету</a></div>
        <div class="header-button"><a href="https://denysiukjob.com.ua/info/twoYear" class="blue-button">Двохрічні візи</a></div>
        <div class="header-button"><a href="https://denysiukjob.com.ua/info/answers" class="green-button">Запитання - Відповідь</a></div>
    </div>
</header>
<main>
    <div class="vacancies-wrapper">
        <section id="vacancies">
            <h2>Актуальні вакансії</h2>
            <%vacancies.forEach(function(v){%>
                <article class="vacancy">
                    <div class="vacancy-info">
                            <h3 class="vacancy-title"><%=v.title%></h3>
                            <div class="location">
                                <img src="/img/location-icon.png" alt="location-icon" class="location-icon">
                                <span class="location-text"><%=v.location%></span>
                            </div>
                            <div class="vacancy-payment">
                                    <img src="/img/money-icon.png" alt="payment-icon" class="payment-icon">
                                <span class="payment-text"><%=v.payment%> <%=v.currency%></span>
                            </div>
                            <a href="https://denysiukjob.com.ua/vacancies/<%=v.link%>">Детальніше...</a>
                    </div>
                    
                    <a href="https://denysiukjob.com.ua/vacancies/<%=v.link%>">
                        <img src="<%=v.faceImage%>" alt="vacancy photo" class="vacancy-img">
                    </a>
                 </article>
            <%})%>
           <div class="all-vacancies-button-wrapper">
                <a href="https://denysiukjob.com.ua/vacancies" class='all-vacancies-button'>Всі вакансії &gt;&gt;</a>
           </div>
        </section>
    </div>
    <section id="socialnetwork">
            <h2>
                Ми в соціальних мережах
            </h2>
            <a href="https://www.instagram.com/denisyuk.czjob/">
                <img src="/img/instagram-logo.png" alt="instagram">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100030753322152">
                <img src="/img/facebook-logo.png" alt="facebook">
            </a>
            
        </section>
    <section id="galery">
        <h2>Фотогалерея (візи)</h2>
        <%for(let i = 1;i<=12;i++){%>
        <a href="https://denysiukjob.com.ua/img/visa/visa-(<%=i.toString()%>).jpg" data-fancybox="galery">
            <img src="/img/little/visa-(<%=i.toString()%>).jpg" alt="">
        </a>
        <%}%>
            
    </section>
</main>
<%- include('part/footer')-%>