<%- include('part/header',{title:"Робота за кордоном | Відгуки"})-%>
<!--  -->
<%-auth? include('part/menu-admin'): include('part/menu')-%>

<div class="reviews-wrapper">
  <h1>Відгуки</h1>

  <!-- .container -->
  <section id="video" class="container">
    <div class="title"><h2>Відеовідгуки</h2></div>
    <!-- .gallery-slider -->
    <div class="gallery-slider">
      <!-- __images -->
      <div class="gallery-slider__images">
        <div>
          <% videos.forEach(video => {%>
          <!-- .item -->
          <div class="item">
            <div class="img-fill">
              <h5><%= video.title %></h5>
              <div>
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/<%=video.code%>"
                  frameborder="0"
                  allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
          <!-- /.item -->
          <%}) %>
        </div>
        <button class="prev-arrow slick-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792">
            <path
              fill="#fff"
              d="M1171 301L640 832l531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19L173 877q-19-19-19-45t19-45L915 45q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z"
            />
          </svg>
        </button>
        <button class="next-arrow slick-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792">
            <path
              fill="#fff"
              d="M1107 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45L275 45q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z"
            />
          </svg>
        </button>
        <!-- <span class="caption">&nbsp;</span> -->
      </div>
      <!-- /__images -->

      <!-- __thumbnails -->
      <div class="gallery-slider__thumbnails">
        <div>
          <% videos.forEach(video => {%>
          <!-- .item -->
          <div class="item">
            <div class="img-fill">
              <img
                src="http://img.youtube.com/vi/<%= video.code %>/mqdefault.jpg"
                alt="Kitten 8"
              />
            </div>
          </div>

          <%}) %>
        </div>

        <button class="prev-arrow slick-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792">
            <path
              fill="#fff"
              d="M1171 301L640 832l531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19L173 877q-19-19-19-45t19-45L915 45q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z"
            />
          </svg>
        </button>
        <button class="next-arrow slick-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792">
            <path
              fill="#fff"
              d="M1107 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45L275 45q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z"
            />
          </svg>
        </button>
      </div>
      <!-- /__thumbnails -->
    </div>
    <!-- /.gallery-slider -->
  </section>
  <!-- /.container -->

  <!-- images -->
  <!-- .container -->
  <section id="image-reviews" class="container">
    <div class="title"><h2>Фотовідгуки</h2></div>
    <!-- .gallery-slider -->
    <div class="gallery-slider">
      <!-- __images -->
      <div class="gallery-slider__images">
        <div>
          <% images.forEach(image => {%>
          <!-- .item -->
          <div class="item">
            <div class="img-fill">
              <h5><%= image.title %></h5>
              <div class="image">
                <img src="<%= image.src %>" alt="review" />
              </div>
            </div>
          </div>
          <!-- /.item -->
          <%}) %>
        </div>
        <button class="prev-arrow slick-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792">
            <path
              fill="#fff"
              d="M1171 301L640 832l531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19L173 877q-19-19-19-45t19-45L915 45q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z"
            />
          </svg>
        </button>
        <button class="next-arrow slick-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792">
            <path
              fill="#fff"
              d="M1107 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45L275 45q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z"
            />
          </svg>
        </button>
        <!-- <span class="caption">&nbsp;</span> -->
      </div>
      <!-- /__images -->

      <!-- __thumbnails -->
      <div class="gallery-slider__thumbnails">
        <div>
          <% images.forEach(image => {%>
          <!-- .item -->
          <div class="item">
            <div class="img-fill">
              <img src="<%= image.src %>" alt="preview" />
            </div>
          </div>

          <%}) %>
        </div>

        <button class="prev-arrow slick-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792">
            <path
              fill="#fff"
              d="M1171 301L640 832l531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19L173 877q-19-19-19-45t19-45L915 45q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z"
            />
          </svg>
        </button>
        <button class="next-arrow slick-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792">
            <path
              fill="#fff"
              d="M1107 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45L275 45q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z"
            />
          </svg>
        </button>
      </div>
      <!-- /__thumbnails -->
    </div>
    <!-- /.gallery-slider -->
  </section>
  <!-- /.container -->
</div>

<!--  -->

<%- include('part/footer-contacts')-%>
