<%- include('part/header',{title:"Робота за кордоном | Послуги"})-%>
<!--  -->
<%-auth? include('part/menu-admin'): include('part/menu')-%>

<div class="services-wrapper">
  <h1>Наші послуги</h1>
  <div id="services">
    <% services.forEach(s => { %>
    <div class="service">
      <h2 class="title"><%= s.title %></h2>
      <div class="info">
        <div class="info-wrapper">
          <span class="price"><%= s.price %> </span>
          <span class="term"><%= s.term %> </span>
          <button class="desctop">Замовити</button>
        </div>
      </div>
      <p class="description"><%= s.description %></p>
      <button class="mobile">Замовити</button>
    </div>

    <% }) %>
  </div>
  <div class="profiles">
    <div class="profile z-depth-1">
      <img src="/img/team.jpg" alt="" />
      <div>
        <h3 class="name">Ігор Денисюк</h3>
      </div>
      <div class="contacts">
        <div class="subtitle">Зв'язатися зі мною</div>
        <a href="http://">
          <img src="/img/viber-logo.png" alt="" />
        </a>
        <a href="http://">
          <img src="/img/telegram-logo.png" alt="" />
        </a>
        <a href="http://" class="phone">
          380 435 34 5 45
        </a>
      </div>
    </div>
    <div class="profile z-depth-1">
      <img src="/img/team.jpg" alt="" />
      <div>
        <h3 class="name">Ігор Денисюк</h3>
      </div>
      <div class="contacts">
        <div class="subtitle">Зв'язатися зі мною</div>
        <a href="http://">
          <img src="/img/viber-logo.png" alt="" />
        </a>
        <a href="http://">
          <img src="/img/telegram-logo.png" alt="" />
        </a>
        <a href="http://" class="phone">
          380 435 34 5 45
        </a>
      </div>
    </div>
  </div>
</div>

<!--  -->
<%- include('part/footer-contacts')-%>
