<%- include('part/header',{title:"Робота за кордоном - " + vacancy.title})-%>
<%- include('part/menu')-%>

<div id="vacancy">
  <div class="main-text">
    <h1><%=vacancy.title%></h1>
    <div class="terms">
      <div class="term">
        <i class="material-icons">location_on</i>
        <span class="category">Регіон</span>
        <span class="value"
          ><%=vacancy.country? vacancy.country+': ': ''%>
          <%=vacancy.location%></span
        >
      </div>
      <div class="term">
        <i class="material-icons">insert_invitation</i>
        <span class="category">Графік</span>
        <span class="value"><%=vacancy.shchedule%></span>
      </div>
      <div class="term">
        <i class="material-icons">house</i>
        <span class="category">Житло</span>
        <span class="value"><%=vacancy.habitation%></span>
      </div>
      <div class="term">
        <i class="material-icons">verified_user</i>
        <!-- <i class="material-icons">thumb_up</i> -->
        <span class="category">Вакасія</span>
        <span class="value">Перевірена та безкоштовна</span>
      </div>
      <!-- .terms end -->
    </div>
    <div id="description"><%-vacancy.bigDescription%></div>
    <% if (vacancy.videocode) { %>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/<%= vacancy.videocode %> "
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <% } %>
  </div>
  <div class="vacancy-galary">
    <%vacancy.images.forEach((image)=>{%>
    <a href="<%=image%>" data-fancybox="galery">
      <img src="<%=image%>" alt="" />
    </a>
    <%})%>
  </div>
</div>

<%- include('part/footer')-%>
