<%- include('part/header',{title:"Робота за кордоном - " + vacancy.title})-%>
<%- include('part/menu/menu',{auth})-%>

<div id="vacancy">
  <div class="main-text">
    <h1><%=vacancy.title%></h1>
    <div class="info">
      <div class="terms">
        <div class="term">
          <i class="material-icons">location_on</i>
          <span class="category">Регіон</span>
          <span class="value"
            ><%=vacancy.country? vacancy.country+': ': ''%>
            <%=vacancy.location%></span
          >
        </div>
        <div class="term">
          <i class="material-icons">insert_invitation</i>
          <span class="category">Графік</span>
          <span class="value"><%=vacancy.shchedule%></span>
        </div>
        <div class="term">
          <i class="material-icons">house</i>
          <span class="category">Житло</span>
          <span class="value"><%=vacancy.habitation%></span>
        </div>
        <div class="term">
          <i class="material-icons">verified_user</i>
          <!-- <i class="material-icons">thumb_up</i> -->
          <span class="category">Вакасія</span>
          <span class="value">Перевірена та безкоштовна</span>
        </div>
        <!-- .terms end -->
      </div>
      <img src="<%=vacancy.faceImage%>" alt="" />
    </div>

    <div id="description"><%-vacancy.bigDescription%></div>
    <% if (vacancy.videocode) { %>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/<%= vacancy.videocode %> "
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <% } %>
  </div>
  <% if (vacancy.images.length) { %>

  <div class="vacancy-galary">
    <!-- images -->
    <!-- .container -->
    <section id="image-reviews" class="container">
      <div class="title"><h2>Фото</h2></div>
      <!-- .gallery-slider -->
      <div class="gallery-slider">
        <!-- __images -->
        <div class="gallery-slider__images">
          <div>
            <% vacancy.images.forEach(image => {%>
            <!-- .item -->
            <div class="item">
              <div class="img-fill">
                <div class="title"></div>
                <div class="image">
                  <img src="<%= image %>" alt="review" />
                </div>
              </div>
            </div>
            <!-- /.item -->
            <%}) %>
          </div>
          <button class="prev-arrow slick-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792">
              <path
                fill="#fff"
                d="M1171 301L640 832l531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19L173 877q-19-19-19-45t19-45L915 45q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z"
              />
            </svg>
          </button>
          <button class="next-arrow slick-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792">
              <path
                fill="#fff"
                d="M1107 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45L275 45q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z"
              />
            </svg>
          </button>
          <!-- <span class="caption">&nbsp;</span> -->
        </div>
        <!-- /__images -->

        <!-- __thumbnails -->
        <div class="gallery-slider__thumbnails">
          <div>
            <% vacancy.images.forEach(image => {%>
            <!-- .item -->
            <div class="item">
              <div class="img-fill">
                <img src="<%= image %>" alt="preview" />
              </div>
            </div>

            <%}) %>
          </div>

          <button class="prev-arrow slick-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792">
              <path
                fill="#fff"
                d="M1171 301L640 832l531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19L173 877q-19-19-19-45t19-45L915 45q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z"
              />
            </svg>
          </button>
          <button class="next-arrow slick-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792">
              <path
                fill="#fff"
                d="M1107 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45L275 45q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z"
              />
            </svg>
          </button>
        </div>
        <!-- /__thumbnails -->
      </div>
      <!-- /.gallery-slider -->
    </section>
    <!-- /.container -->
  </div>
  <% } %>
</div>

<%- include('part/footer')-%>
