<%- include('part/header',{title:"Робота за кордоном"})-%>
<%- include('part/menu')-%>
<div class="vacancies-wrapper">
    <div class='vacancies-ctg-wrapper'>
        <ul class='vacancies-ctg'>
            <li><a href="<%=process.env.DOMAIN%>/vacancies">Всі вакансії</a></li>
            <li><a href="<%=process.env.DOMAIN%>/vacancies/type/czech">Чехія</a></li>
            <li><a href="<%=process.env.DOMAIN%>/vacancies/type/polska">Польща</a></li>
            <li><a href="<%=process.env.DOMAIN%>/vacancies/type/openviza">По відкритим візам</a></li>
        </ul>
    </div>
        <section id="vacancies">
            <%vacancies.forEach(function(v){%>
                <article class="vacancy">
                    <div class="vacancy-info">
                            <h3 class="vacancy-title"><%=v.title%></h3>
                            <div class="location">
                                <img src="/img/location-icon.png" alt="location-icon" class="location-icon">
                                <span class="location-text"><%=v.location%></span>
                            </div>
                            <div class="vacancy-payment">
                                    <img src="/img/money-icon.png" alt="payment-icon" class="payment-icon">
                                <span class="payment-text"><%=v.payment%> <%=v.currency%></span>
                            </div>
                            <a href="<%=process.env.DOMAIN%>/vacancies/<%=v.link%>">Детальніше...</a>
                    </div>
                    
                    <a href="<%=process.env.DOMAIN%>/vacancies/<%=v.link%>">
                        <img src="<%=v.faceImage%>" alt="vacancy photo" class="vacancy-img">
                    </a>
                 </article>
            <%})%>
        </section>
    </div>
<%- include('part/footer')-%>