<%- include('part/header',{title:"Робота за кордоном"})-%> <%-
include('part/menu-admin')-%>
<div class="container">
  <a
    href="<%=process.env.DOMAIN%>/vacancies/add"
    class="waves-effect waves-light btn-large  green darken-1"
    id="add-vacancy-btn"
    >Додати<i class="material-icons right">add</i></a
  >
  <ul class="collection" id="vacancies-list">
    <% vacancies.forEach(function(v){%>
    <li class="collection-item">
      <a href="<%=process.env.DOMAIN%>/vacancies/<%=v.link%>"><%=v.title%></a>
      <div class="right">
        <% if (v.isActive) { %>
        <a
          class="waves-effect waves-light btn  amber darken-2 "
          href="/vacancies/deactivate/<%= v.id %> "
        >
          ВИКЛ
        </a>
        <% }else { %>
        <a
          class="waves-effect waves-light btn  grey "
          href="/vacancies/activate/<%= v.id %>"
        >
          ВКЛ
        </a>
        <%}%>

        <a
          class="waves-effect waves-light btn  red modal-triger"
          style="margin-left: 35px;"
          href="/vacancies/remove/<%= v.id %> "
        >
          <i class="material-icons">delete </i>
        </a>
      </div>
    </li>
    <%}) %>
  </ul>
</div>
<%- include('part/footer-contacts')-%>