<%- include('../part/header',{title:"Список новин"})-%>
<!--  -->
<%-include('../part/menu/menu', {auth:true})-%>
<div class="container">
  <h3>Новини</h3>
  <a
    href="<%=process.env.DOMAIN%>/news/add"
    class="waves-effect waves-light btn-large  green darken-2"
    id="add-btn"
    >Додати<i class="material-icons right">add</i></a
  >
  <ul class="collection" id="vacancies-list">
    <% news.forEach(function(n){%>
    <li class="collection-item">
      <a href="/news/<%=n.link%>"><%=n.title%></a>
      <div class="right">
        <a
          class="waves-effect waves-light btn  blue lighten-1 modal-triger"
          style="margin-left: 5px;"
          href="/news/edit/<%= n.id %> "
        >
          <i class="material-icons">edit </i>
        </a>

        <a
          class="waves-effect waves-light btn  red modal-triger"
          style="margin-left: 35px;"
          href="/news/remove/<%= n.id %> "
        >
          <i class="material-icons">delete </i>
        </a>
      </div>
    </li>
    <%}) %>
  </ul>
</div>
<%- include('../part/footer')-%>
