<%- include('../part/header',{title:"Робота за кордоном | Послуги"})-%>
<!--  -->
<%-include('../part/menu/menu', {auth})-%>

<div class="services-wrapper">
  <h1>Послуги компанії "DENISYUKJOB"</h1>
  <div id="services">
    <% services.forEach(s => { %>
    <div class="service" id="<%= s.id %>">
      <h2 class="title"><%= s.title %></h2>
      <div class="info">
        <div class="info-wrapper">
          <span class="price"><%= s.price %> </span>
          <span class="term"><%= s.term %> </span>
          <a class="desktop button" href="#profiles">Замовити</a>
        </div>
      </div>
      <p class="description"><%= s.description %></p>
      <a class="mobile button" href="tel:+380978560219">Замовити</a>
    </div>

    <% }) %>
  </div>
  <%- include('../part/profiles') -%>
</div>

<!--  -->
<%- include('../part/footer')-%>
